<div class="app-content content">
        <div class="content-wrapper">
                <div class="content-header row">
                        <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
                </div>
                <div class="content-body">
                        <div class="row">
                                <div class="col-12">
                                        <div class="card">
                                                <div class="card-header">
                                                        <a class="heading-elements-toggle"><i
                                                                        class="ft-align-justify font-medium-3"></i></a>
                                                        <div class="heading-elements">
                                                                <ul class="list-inline mb-0">
                                                                        <li><a data-action="collapse"><i
                                                                                                class="ft-minus"></i></a>
                                                                        </li>
                                                                        <li><a data-action="reload"><i
                                                                                                class="ft-rotate-cw"></i></a>
                                                                        </li>
                                                                        <li><a data-action="expand"><i
                                                                                                class="ft-maximize"></i></a>
                                                                        </li>
                                                                        <li><a data-action="close"><i
                                                                                                class="ft-x"></i></a>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <div class="card-content collapse show">
                                                        <div class="card-body">
                                                                <form action="#">
                                                                        <div class="form-body">
                                                                                <div class="form-group row">
                                                                                        <div class="col-md-3">
                                                                                                <label>Subjects </label>
                                                                                                <div class="form-group">
                                                                                                        <select
                                                                                                                class="form-control">
                                                                                                                <option> Select
                                                                                                                        Subject
                                                                                                                </option>                                                                                                                
                                                                                                        </select>
                                                                                                </div>
                                                                                        </div>                                                                                       
                                                                                        <div class="col-md-3">
                                                                                                <label>Project
                                                                                                        ID </label>
                                                                                                <div class="form-group">
                                                                                                        <input type="text"
                                                                                                                class="form-control"
                                                                                                                placeholder="Project ID">
                                                                                                </div>
                                                                                        </div>                                                                                       
                                                                                        <div class="col-md-3">
                                                                                                <label >Options
                                                                                                </label>
                                                                                                        <div class="form-group">
                                                                                                                <select
                                                                                                                        class="form-control">
                                                                                                                        <option> Select
                                                                                                                                Options
                                                                                                                        </option>                                                                                                                      
                                                                                                                </select>
                                                                                                        </div>
                                                                                                
                                                                                        </div>
                                                                                        <div class="col-md-3">
                                                                                                <label >University
                                                                                                </label>
                                                                                                        <div class="form-group">
                                                                                                                <input type="text"
                                                                                                                class="form-control"
                                                                                                                placeholder="Project ID">
                                                                                                        </div>
                                                                                                
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <div class="col-md-3">
                                                                                                <label>Courses </label>
                                                                                                <div class="form-group">
                                                                                                        <select
                                                                                                                class="form-control">
                                                                                                                <option> Select
                                                                                                                        Courses
                                                                                                                </option>
                                                                                                                <option>
                                                                                                                </option>
                                                                                                        </select>
                                                                                                </div>
                                                                                        </div>                                                                                       
                                                                                        <div class="col-md-3">
                                                                                                <label>Regulation </label>
                                                                                                <div class="form-group">
                                                                                                        <select
                                                                                                        class="form-control">
                                                                                                        <option> Select
                                                                                                                Regulation
                                                                                                        </option>
                                                                                                        <option>
                                                                                                        </option>
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>                                                                                       
                                                                                        <div class="col-md-3">
                                                                                                <label >Year
                                                                                                </label>
                                                                                                        <div class="form-group">
                                                                                                                <input type="text"
                                                                                                                class="form-control"
                                                                                                                placeholder="Year">
                                                                                                        </div>
                                                                                                
                                                                                        </div>
                                                                                        <div class="col-md-3">
                                                                                                <label >Serial number
                                                                                                </label>
                                                                                                        <div class="form-group">
                                                                                                                <input type="text"
                                                                                                                class="form-control"
                                                                                                                placeholder="Serial number">
                                                                                                        </div>
                                                                                                
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <div class="col-md-3">
                                                                                                <label>Project Name </label>
                                                                                                <div class="form-group">
                                                                                                        <input type="text"
                                                                                                                class="form-control"
                                                                                                                placeholder="Project Name">
                                                                                                </div>
                                                                                        </div>                                                                                       
                                                                                        <div class="col-md-3">
                                                                                                <label>State </label>
                                                                                                <div class="form-group">
                                                                                                        <select
                                                                                                        class="form-control">
                                                                                                        <option> Select
                                                                                                                State
                                                                                                        </option>
                                                                                                        <option>
                                                                                                        </option>
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>                                                                                       
                                                                                        <div class="col-md-3">
                                                                                                <label >Semesters
                                                                                                </label>
                                                                                                        <div class="form-group">
                                                                                                                <input type="text"
                                                                                                                class="form-control"
                                                                                                                placeholder="Choose semester">
                                                                                                        </div>
                                                                                                
                                                                                        </div>                                                                                        
                                                                                </div>                                                                               
                                                                        </div>
                                                                        <hr>
                                                                        <div class="form-body">
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Project Analysis
                                                                                        </label>
                                                                                        <div class="col-md-10">
                                                                                                <div class="form-group">
                                                                                                        <input type="text"  class="form-control"  >
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Market Analysis
                                                                                        </label>
                                                                                        <div class="col-md-10">
                                                                                                <div class="form-group">
                                                                                                        <input type="text"  class="form-control"  >
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Content Analysis
                                                                                        </label>
                                                                                        <div class="col-md-10">
                                                                                                <div class="form-group">
                                                                                                        <input type="text"  class="form-control"  >
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <hr>
                                                                         <div class="form-body">
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Created by
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Created by </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                        <label class="col-md-2">
                                                                                                Priority
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Priority </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Assigned To
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Resourece Department </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                        <label class="col-md-2">
                                                                                                Team Lead
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Select Team Lead </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Assigned To
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Writing Department </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                        <label class="col-md-2">
                                                                                                Team Lead
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Select Team Lead </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Assigned To
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Quality Department </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                        <label class="col-md-2">
                                                                                                Team Lead
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                        <option> Select Team Lead </option>                                                                                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>

                                                                                 <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Assigned Date
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy">                                                        
                                                                                                
                                                                                                </div>
                                                                                        </div>
                                                                                        <label class="col-md-2">
                                                                                                Expected Date
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">                                                                                                      
                                                                                                                <input type="text" class="form-control" placeholder="mm/dd/yyyy">  
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                               <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Target Days
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <select class="form-control">
                                                                                                                <option> Target Days </option>   
                                                                                                                <option> 10 </option>  
                                                                                                                <option> 20 </option>  
                                                                                                                <option> 30 </option>  
                                                                                                                <option> 35 </option>                                                      
                                                                                                </select>
                                                                                                </div>
                                                                                        </div>
                                                                                
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Release Date
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy">                                                 
                                                                                                
                                                                                                </div>
                                                                                        </div>
                                                                                        <label class="col-md-2">
                                                                                                Expected Date Request
                                                                                        </label>
                                                                                        <div class="col-md-4">
                                                                                                <div class="form-group">
                                                                                                        <input type="radio"  title="Yes" > YES 
                                                                                                        <input type="radio" title="No" > NO
                                                                                                </div>
                                                                                        </div>
                                                                                </div> 
                                                                                <div class="form-group row">
                                                                                        <label class="col-md-2">
                                                                                                Commnets
                                                                                        </label>
                                                                                        <div class="col-md-10">
                                                                                                <div class="form-group">
                                                                                                        <input type="text" class="form-control" placeholder="Comments">  
                                                                                                </div>
                                                                                        </div>
                                                                                       
                                                                                </div> 
                                                                        </div> 

                                                                        <div class="form-actions">
                                                                                <div class="text-right">
                                                                                        <button type="submit" class="btn btn-primary">Submit
                                                                                                        <i class="ft-thumbs-up position-right"></i></button>
                                                                                                <button type="reset"
                                                                                                        class="btn btn-warning">Reset
                                                                                                        <i class="ft-refresh-cw position-right"></i></button>
                                                                                        </div>
                                                                        </div>
                                                                </form>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>